/* custom css*/

body {
    padding: 8%;
}

.login_outter_div {
    background-color: white;
    margin: 13vh auto 0vh auto;
    border: 3px solid #00aeef;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.user_img {
    height: 25vh;
    width: auto;
    margin: -20vh auto 30px auto;
}

.inner_div {
    padding: 30px;
}

.input_area {
    margin-bottom: 30px;
    border: 2px solid #00aeef;
    border-radius: 5px;
    padding: 10px;
}

.login_btn {
    background: #3aa8d1;
    color: white;
    margin-bottom: 20px;
}

.login_btn:hover {
    background-color: #2b8aad;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.back_btn {
    background: #3aa8d1;
    color: white;
}

.back_btn a {
    background: #3aa8d1;
    color: white;
}

.back_btn a:hover {
    text-decoration: none;
}

.test {
    border: 1px solid black;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    font-size: 1em;
}

.forgetpass {
    padding: 30px;
    background-color: white;
    margin: 10vh auto 0vh auto;
    border: 3px solid #00aeef;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

@media(max-width:1000px) {
    body {
        padding: 12vh 8%;
    }
}