/* custom css*/

.login_outter_div {
    background-color: white;
    margin: 25vh auto 0vh auto;
    border: 3px solid #00aeef;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.user_img {
    height: 25vh;
    width: auto;
    margin: -20vh auto 30px auto;
}

.inner_div {
    padding: 30px;
}

.input_area {
    background-color: white;
    margin-bottom: 30px;
    border: 1px solid #00aeef;
    border-radius: 0px;
    padding: 10px;
    resize: none;
    letter-spacing: 1px;
}

.login_btn {
    color: #00aeef;
    background-color: white !important;
    border: 1px solid #00aeef !important;
    border-radius: 0px !important;
    padding: 10px !important;
    font-family: 'OpenSansBold', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #00aeef;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.login_btn:hover {
    box-shadow: inset 500px 0 0 0 #00aeef;
    color: #FFF !important;
}

.back_btn {
    background: #3aa8d1;
    color: white;
}

.back_btn a {
    background: #3aa8d1;
    color: white;
}

.back_btn a:hover {
    text-decoration: none;
}

.bill_card {
    border: 2px solid #ffffff;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    border-radius: 10px;
    padding: 20px;
}

.bill_detail {
    border-left: 3px solid #ffffff;
}

.forgetpass {
    background-color: white;
    margin: 25vh auto 0vh auto;
    padding: 20px;
    text-align: center;
    border: 3px solid #00aeef;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.home_section {
    color: white;
    width: 100%;
    padding: 80px;
    text-align: center;
    font-family: 'Coda', cursive;
    letter-spacing: 2px;
    font-size: 1.5em;
}

.bill_section {
    color: white;
    width: 100%;
    padding: 40px;
    font-family: 'Coda', cursive;
    letter-spacing: 2px;
    font-size: 1.5em;
}

.proceed_btn {
    padding: 10px !important;
    background-color: #00aeef;
    letter-spacing: 1px;
    color: #ffffff !important;
    border: 2px solid #ffffff !important;
    border-radius: 20px !important;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.proceed_btn:hover {
    background-color: #ffffff;
    color: #00aeef !important;
}

.date_section {
    color: white;
    font-family: 'Coda', cursive;
    letter-spacing: 2px;
    padding-left: 20px;
    text-align: left;
}

.profile_name {
    color: #ffffff;
    color: white;
    font-family: 'Coda', cursive;
    letter-spacing: 2px;
    padding-right: 20px;
    text-align: right;
}


/*message section*/

.message_section {
    padding: 20px;
}

.message_outer {
    margin-top: 1vh;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-family: 'Coda', cursive;
    letter-spacing: 1px;
}

#sms {
    display: none;
    padding: 50px 20px;
}

#e_mail {
    display: inherit;
    padding: 50px 20px;
}


/*message section switch*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.user_info {
    border-left: 3px solid #00aeef;
    font-size: 1.2em;
}

.change_pass {
    border-top: 3px solid #00aeef !important;
    margin-top: 30px;
}

@media(max-width: 767px) {
    .user_info {
        border-top: 3px solid #00aeef !important;
        border-left: none;
        font-size: 1.2em;
        margin-top: 30px;
        padding-top: 20px;
    }
}