/* custom css*/

body {
    padding: 8%;
}

.login_outter_div {
    background-color: white;
    margin: 13vh auto 0vh auto;
    border: 3px solid #00aeef;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.user_img {
    height: 25vh;
    width: auto;
    margin: -20vh auto 30px auto;
}

.inner_div {
    padding: 30px;
}

.input_area {
    margin-bottom: 30px;
    border: 2px solid #00aeef;
    border-radius: 5px;
    padding: 10px;
}

.login_btn {
    background: #3aa8d1;
    color: white;
}

.login_btn:hover {
    background-color: #2b8aad;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

@media(max-width:1000px) {
    body {
        padding: 18vh 8%;
    }
}